<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <h1>How much salary you paid on Experience </h1>
   <form method="POST" action="predict">
       <label for="Enter salary">Enter your Yrs Experience : </label>
       <input type="text" name="Experience">
    <br>
    <br>
    <button type="submit"> submit</button>

   </form>
   <br>
    {{result}}
    
</body>
</html>